<div class="container">
     <form>
          <div mat-card-avatar class="tp-header-image"></div>
          <div class="col text-center">
               <strong>TENTATIVES &nbsp;<mark>{{ tries }} / 10</mark></strong>
               <h1><mark>{{hiddenWord}}</mark></h1>
          </div>
          <hr>
          <br>
         <div class="row" *ngIf="win">
               <div class="col text-center">
                    <h3 class="win">Bravo !</h3>
                    <br>
                    <button class="btn btn-primary" (click)="reload()">Rejouer</button>
               </div>
          </div>
         <div class="row" *ngIf="lost">
               <div class="col text-center">
                    <h3 class="lost">Perdu !</h3>
                    <h3 class="lost">Le mot était: <mark>{{word}}</mark></h3>
                    <button class="btn btn-primary" (click)="reload()">Rejouer</button>
               </div>
          </div>
         <div class="button-container" *ngIf="!win && !lost">
               <div class="form-group">
                    <label class="label-block">Devinez une lettre</label>
                    <input class="form-control form-control-inline form-control-large" (keyup)='onKey($event)' type="search" placeholder="Tapez une lettre" />
               </div>
               <div class="col text-center">
                 <button class="ml-1 mt-1 btn btn-primary" id="btn-{{letter}}" (click)="check(letter)" *ngFor="let letter of letters">
               {{letter}}
          </button>
                    <hr>
               </div>
          </div>
     </form>
</div>
